/* Snnipet for cloak to work if angular loading is not in the head of html*/
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}

.form-group.required .control-label:after {
  content:"*";
  color:red;
  margin-left: 4px;
}