<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Spring Boot Expenses</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
  </head>

  <body>
    <h2>Expenses</h2>
    <form method="POST">
      <label for="user">User:</label>
      <input type="text" name="user"></input><br/>
      <label for="description">Description:</label>
      <input type="text" name="description"></input><br/>
      <label for="value">Value:</label>
      <input type="text" name="value"></input><br/>
      <label for="date">Date:</label>
      <input type="text" name="date"></input><br/>
      <input type="submit"></input>
    </form>

    <ul th:each="expense : ${expenses}">
      <li>
        <span th:text="${expense.user}">User</span>
        <span th:text="${expense.description}">Description</span> :
        <span th:text="${expense.value}">Value</span>,
        <span th:text="${expense.date}">Date</span>
      </li>
    </ul>
  </body>
</html>
